@use '../utils' as *;

.popup {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: var(--transition-default);
	&__content {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		padding: 32px 0 0 0;
		background: var(--color-bg);
		border-radius: 28px 28px 0 0;
		transition: var(--transition-default);
		transform: translateY(800px);
		@include respond(tablet) {
			padding: 16px 0 0 0;
		}
	}

	&__close {
		position: absolute;
		top: -72px;
		right: 40px;
		padding: 8px;
		@include flex-center;
		border-radius: 100px;
		background: #fff;
		@include respond(tablet) {
			width: 48px;
			height: 48px;
			padding: 8px;
		}
	}

	&__close-line {
		margin: auto;
		width: 286px;
		height: 8px;
		border-radius: 4px;
		background: #a4a3a6;
		cursor: pointer;
		margin-bottom: 32px;
		@include respond(tablet) {
			width: 75px;
			height: 4px;
		}
	}

	&__body {
		height: calc(100vh - 200px);
		display: flex;
		flex-direction: column;
		gap: 128px;
		overflow-y: scroll;
		padding-bottom: 96px;
		@include respond(tablet) {
			gap: 72px;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 12px;
		@include respond(tablet) {
			flex-direction: column;
			justify-content: flex-start;
			gap: 24px;
		}
	}

	&__title {
		max-width: 782px;
		width: 100%;
		@include respond(tablet) {
			max-width: 100%;
		}
		h2 {
			color: var(--color-title);
			font-family: var(--font-title);
			font-size: 40px;
			font-weight: 400;
			line-height: 110%;
			letter-spacing: -0.4px;
			margin-bottom: 24px;
			@include respond(tablet) {
				font-size: 24px;
			}
		}
		p {
			color: var(--color-title);
			font-family: var(--font-title);
			font-size: 24px;
			font-weight: 400;
			line-height: 130%;
			@include respond(tablet) {
				font-size: 16px;
			}
		}
	}

	&__marks {
		display: flex;
		flex-direction: column;
		gap: 24px;
		@include respond(tablet) {
			gap: 12px;
		}
	}

	&__label {
		max-width: 207px;
		width: 100%;
		font-size: 14px;
		font-weight: 500;
		line-height: 130%;
		@include respond(tablet) {
			font-size: 12px;
			max-width: 100%;
		}
	}

	&__tags {
		display: flex;
		align-items: center;
		gap: 8px;
		flex-wrap: wrap;
	}

	&__tag {
		@include flex-center;
		padding: 8px 16px;
		color: var(--color-title);
		font-size: 14px;
		font-weight: 500;
		line-height: 130%;
		border-radius: 100px;
		background: var(--color-bg-accent);
		@include respond(tablet) {
			font-size: 12px;
		}
	}

	&__block {
		max-width: 1000px;
		width: 100%;
		display: flex;
		gap: 20px;
		@include respond(tablet) {
			max-width: 100%;
			flex-direction: column;
		}
	}

	&__info {
	}

	&__info-title {
		color: var(--color-title);
		font-family: var(--font-title);
		font-size: 24px;
		font-weight: 400;
		line-height: 130%;
		margin-bottom: 24px;
		@include respond(tablet) {
			font-size: 16px;
		}
	}

	&__info-label {
		margin-top: 32px;
		font-size: 14px;
		font-weight: 500;
		line-height: 130%;
		@include respond(tablet) {
			font-size: 12px;
		}
	}

	&__info-text {
		color: var(--color-title);
		font-size: 18px;
		font-weight: 500;
		line-height: 130%;
		@include respond(tablet) {
			font-size: 16px;
		}
	}

	&__image img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		border-radius: 28px;
	}

	&__done {
		&-list {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
		&-item {
			position: relative;
			display: flex;
			gap: 16px;
		}
		&-item:not(:last-child) {
			&::before {
				content: '';
				position: absolute;
				left: 12px;
				top: 20px;
				display: block;
				width: 2px;
				height: calc(100% + 20px);
				background: var(--color-accent);
			}
		}
		.num {
			position: relative;
			z-index: 2;
			@include flex-center;
			width: 28px;
			height: 28px;
			flex-shrink: 0;
			aspect-ratio: 1/1;
			color: var(--color-bg);
			font-size: 14px;
			font-weight: 500;
			line-height: 130%;
			border-radius: 87.5px;
			background: var(--color-accent);
			@include respond(tablet) {
				font-size: 12px;
			}
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&-head {
			display: flex;
			align-items: center;
			height: 44px;
			padding: 16px;
			color: var(--color-title);
			font-size: 16px;
			font-weight: 500;
			line-height: 130%;
			border-radius: 8px;
			background: #f4f3f8;
			@include respond(tablet) {
				font-size: 14px;
			}
		}
		&-tags {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;
		}
		&-tag {
			@include flex-center;
			padding: 8px 16px;
			color: var(--color-title);
			font-size: 14px;
			font-weight: 500;
			line-height: 130%;
			border-radius: 100px;
			border: 1px solid #000;
			@include respond(tablet) {
				font-size: 12px;
			}
		}
	}

	&__analytics {
		p {
			color: var(--color-title);
			font-size: 18px;
			font-weight: 500;
			line-height: 130%;
			margin-bottom: 48px;
			@include respond(tablet) {
				font-size: 14px;
			}
		}
		img {
			width: 100%;
			height: 405px;
			object-fit: cover;
			@include respond(tablet) {
				height: 178px;
			}
		}
	}

	&__effect-list {
		display: flex;
		max-width: 549px;
		padding: 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		border-radius: 16px;
		background: var(--color-bg-accent);
		@include respond(tablet) {
			max-width: 100%;
			gap: 16px;
		}
	}

	&__effect-item {
		display: flex;
		padding: 16px;
		align-items: center;
		gap: 12px;
		align-self: stretch;
		color: var(--color-title);
		font-size: 18px;
		font-weight: 500;
		line-height: 110%;
		border-radius: 16px;
		background: var(--color-bg);
		@include respond(tablet) {
			font-size: 16px;
		}
	}

	&__effect-icon {
		display: flex;
		width: 24px;
		height: 24px;
		padding: 3px;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		border-radius: 100px;
		background: #5865f2;
	}

	&__conclusion {
		p {
			color: var(--color-title);
			font-size: 18px;
			font-weight: 500;
			line-height: 130%;
			@include respond(tablet) {
				font-size: 14px;
			}
		}
	}

	&__results {
		h3 {
			color: var(--color-title);
			font-family: var(--font-title);
			font-size: 32px;
			font-weight: 400;
			line-height: 110%;
			margin-bottom: 24px;
			@include respond(tablet) {
				font-size: 16px;
				margin-bottom: 32px;
			}
		}

		.stats-table {
			border-collapse: collapse;
			font-size: 14px;
			color: var(--color-title);
			margin-bottom: 64px;
			@include respond(tablet) {
				font-size: 12px;
				margin-bottom: 32px;
			}

			th,
			td {
				padding: 16px 32px;
				border-right: 1px solid #605f5f;
				text-align: center;

				&:last-child {
					border-right: none;
				}
			}
			th {
				padding: 0;
				border: none;
			}

			thead {
				th {
					color: #605f5f;
					font-size: 14px;
					@include respond(tablet) {
						font-size: 12px;
					}
				}
			}

			tbody {
				tr:not(:first-child) {
					border-top: 1px solid #605f5f;
				}
			}

			td:first-child,
			th:first-child {
				text-align: left;
				min-width: 200px;
				@include respond(tablet) {
					min-width: 139px;
				}
			}

			td:nth-child(2n) {
				color: #605f5f;
			}

			&__highlight {
				color: var(--color-accent);
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 24px;
			@include respond(tablet) {
				gap: 16px;
			}
		}

		&-item {
			display: flex;
			align-items: center;
			gap: 24px;
			color: var(--color-title);
			font-family: var(--font-title);
			font-size: 22px;
			font-weight: 400;
			line-height: 130%;
			@include respond(tablet) {
				gap: 12px;
				font-size: 14px;
			}
			.num {
				@include flex-center;
				width: 64px;
				height: 64px;
				padding: 16px;
				color: var(--color-accent);
				font-size: 24px;
				font-weight: 600;
				line-height: 130%;
				border-radius: 16px;
				background: #f4f3f8;
				@include respond(tablet) {
					width: 32px;
					height: 32px;
					padding: 8px;
					font-size: 14px;
					border-radius: 8px;
				}
			}
		}
	}

	&__collaboration {
		h4 {
			color: var(--color-title);
			font-family: var(--font-title);
			font-size: 24px;
			font-weight: 400;
			line-height: 130%;
			margin-bottom: 16px;
			@include respond(tablet) {
				font-size: 16px;
			}
		}
		p {
			color: var(--color-title);
			font-size: 18px;
			font-weight: 500;
			line-height: 130%;
			margin-bottom: 24px;
			@include respond(tablet) {
				font-size: 16px;
			}
		}
	}
}

.popup.active {
	opacity: 1;
	pointer-events: all;
	.popup__content {
		transform: translateY(0);
	}
}
