@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@font-face {
	font-family: 'e-Ukraine';
	src: url('../../assets/fonts/e-Ukraine-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'e-Ukraine';
	src: url('../../assets/fonts/e-Ukraine-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
